<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} desde aqui {% endcomment % }
    <header>
        {% comment %} header {% endcomment % }
    </header>
    <nav>
        {% comment %} nav {% endcomment % }
    </nav>
    <aside>
        {% comment %} publicidad o navegacion interna {% endcomment %}
    </aside>
    <main>
        <h1>Juegos</h1>
        {% block content %}
        
        {% endblock content %}
    </main>
  
    <footer>
        {% comment %} pie de pagina {% endcomment %}
    </footer>
</body>
</html>