{% extends 'app_juegos/base.html' %}

{% block title %}Crear Categoría{% endblock %}

{% block content %}
<h1>Crear Categoría</h1>
<form method="post" action="{% url 'app_juegos:crear_categoria' %}">
    {% csrf_token %}
    <div>
        <label for="nombre">Nombre de la Categoría:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <button type="submit">Crear Categoría</button>
</form>
<a href="{% url 'app_juegos:inicio' %}" style=" 
display: inline-block; 
padding: 15px 30px; 
font-size: 18px; 
color: white; 
background-color: #4CAF50; 
border: none; 
border-radius: 25px; 
cursor: pointer; 
box-shadow: 0 4px #999; 
text-decoration: none; 
transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; " onmouseover="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666';" onmouseout="this.style.backgroundColor='#4CAF50'; this.style.boxShadow='0 4px #999';" onmousedown="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 4px #666'; this.style.transform='translateY(4px)';" onmouseup="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666'; this.style.transform='translateY(0)';"> Volver al Inicio </a>
{% endblock %}
