<!-- juego_list.html -->
{% extends 'app_juegos/base.html' %}

{% block title %}Listado de Juegos{% endblock %}

{% block content %}
<h1>Listado de Juegos</h1>
<ul>
    {% for juego in juegos %}
        <article>
            <a href="{% url 'app_juegos:update_juegos' id=juego.id %}">ACTUALIZAR</a>
            <a href="{% url 'app_juegos:delete_juegos' id=juego.id%}">ELIMINAR</a>    
        
        <li>
            <h2>{{ juego.nombre }}</h2>
            <p>Precio: {{ juego.precio }} USD</p>
            <p>Descripción: {{ juego.descripcion }}</p>
            <p>Categoría: {{ juego.categoria.nombre }}</p>
            <p>Stock: {{ juego.stock }}</p>

            <!-- Formulario para añadir comentarios -->
            <form method="post" action="{% url 'app_juegos:add_comment' juego.id %}">
                {% csrf_token %}
                <label for="comentario">Deja tu comentario:</label>
                <textarea id="comentario" name="comentario" rows="2" cols="40"></textarea>
                <button type="submit">Enviar</button>
            </form>

            <!-- Mostrar comentarios -->
            <h3>Comentarios:</h3>
            <ul>
                {% for comentario in juego.comentarios.all %}
                    <li>{{ comentario.texto }} - <em>{{ comentario.creado_por }}</em></li>
                </article>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'app_juegos:inicio' %}" style=" 
display: inline-block; 
padding: 15px 30px; 
font-size: 18px; 
color: white; 
background-color: #4CAF50; 
border: none; 
border-radius: 25px; 
cursor: pointer; 
box-shadow: 0 4px #999; 
text-decoration: none; 
transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; " onmouseover="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666';" onmouseout="this.style.backgroundColor='#4CAF50'; this.style.boxShadow='0 4px #999';" onmousedown="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 4px #666'; this.style.transform='translateY(4px)';" onmouseup="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666'; this.style.transform='translateY(0)';"> Volver al Inicio </a>
{% endblock %}
