<!-- pedido_create.html -->
{% extends 'app_juegos/base.html' %}

{% block title %}Crear Pedido{% endblock %}

{% block content %}
<h1>Crear Pedido</h1>
<form method="post" action="{% url 'app_juegos:crear_pedido' %}">
    {% csrf_token %}
    <div>
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
    </div>
    <div>
        <label for="juego">Juego:</label>
        <select id="juego" name="juego" required>
            {% for juego in juegos %}
                <option value="{{ juego.id }}">{{ juego.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" min="1" required>
    </div>
    <div>
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
    </div>
    <button type="submit">Crear Pedido</button>
</form>
<a href="{% url 'app_juegos:inicio' %}" style=" 
display: inline-block; 
padding: 15px 30px; 
font-size: 18px; 
color: white; 
background-color: #4CAF50; 
border: none; 
border-radius: 25px; 
cursor: pointer; 
box-shadow: 0 4px #999; 
text-decoration: none; 
transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; " onmouseover="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666';" onmouseout="this.style.backgroundColor='#4CAF50'; this.style.boxShadow='0 4px #999';" onmousedown="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 4px #666'; this.style.transform='translateY(4px)';" onmouseup="this.style.backgroundColor='#45a049'; this.style.boxShadow='0 8px #666'; this.style.transform='translateY(0)';"> Volver al Inicio </a>
{% endblock %}
