<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} App Login {% endblock title %}
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'app_login:panel' %}">Panel</a>
            <a href="{% url 'app_login:user_list' %}">Listado de Usuarios</a>
            <a href="{% url 'app_login:login' %}">Login</a>
            <a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="container">
        {% block content %} {% endblock content %}
        </div>
    </main>
 </body>
</html>